@keyframes roll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel {
  padding-top: 10px;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.slide {
  width: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.8vw;
  display: block;
  vertical-align: top;
}

/* 슬라이더 화살표 커스텀 스타일 */
.carousel :global(.slick-prev),
.carousel :global(.slick-next) {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.carousel :global(.slick-prev) {
  left: 20px;
}

.carousel :global(.slick-next) {
  right: 20px;
}

/* 도트 네비게이션 커스텀 스타일 */
.carousel :global(.slick-dots) {
  bottom: -10%;
}

.carousel :global(.slick-dots li button:before) {
  color: #ff3900;
  opacity: 0.7;
}

.carousel :global(.slick-dots li.slick-active button:before) {
  color: #ff3900;
  opacity: 1;
}

/* 페이드 효과를 위한 스타일 */
.carousel :global(.slick-slide) {
  opacity: 0;
  transition: opacity 0.5s ease;
  line-height: 0;
}

.carousel :global(.slick-slide.slick-active) {
  opacity: 1;
}

.carousel :global(.slick-slide > div) {
  line-height: 0;
} 